<responsive-nav>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="/" class="logo">
        <h1 ui-sref="home">Mailer</h1>
      </a>
      <a class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <!-- <li class="nav-link"><a ui-sref="contact">Contact</a></li>
          <li class="nav-link"><a ui-sref="about">About Me</a></li>
          <li class="nav-link"><a ui-sref="articles">Articles</a></li> -->
          <li class="nav-link"><a href="https://github.com/loganwuu"><i class="fa fa-github fa-lg"></i></a></li>
          <!-- <li class="nav-link"><a href="javascript:void(0)"><i class="fa fa-linkedin fa-lg"></i></a></li> -->
        </ul>
      </nav>
    </div>
  </header>
</responsive-nav>
