<section class="container">
  <div class="wrapper">
    <h1 id="form-input">Your Mailing Envelope</h1>
    <fieldset>
      <form>
        <div id="sender">
          <input type="text" class="text_field_1" name="sender_name" placeholder="Enter sender's name (optional)">
          <input type="text" class="text_field_2" name="sender_address_1" placeholder="Enter sender's street address (optional)">
          <input type="text" class="text_field_3" name="sender_address_2" placeholder="Enter sender's city, state and zip code (optional)">
        </div>
        <div id="empty"></div>
        <!-- <div id="emptytwo"></div> -->
        <div id="recipient" align="center">
          <input type="text" class="text_field_4" name="recipient_name" placeholder="Enter recipient's name" required>
          <input type="text" class="text_field_5" name="recipient_address_1" placeholder="Enter recipient's street address" required>
          <input type="text" class="text_field_6" name="recipient_address_2" placeholder="Enter recipient's city, state and zip code" required>
          <input type="submit" value="Print">
        </div>
      </form>
    </fieldset>
  </div>
</section>
